*{
    height: 100%;
<<<<<<< HEAD
    width: 40%;
    background: #0f0f11;
=======
<<<<<<< HEAD
    background: #ddd;
    margin: 0;
=======
    width: 20%;
>>>>>>> 6e22eda7a4c499595a1b368ec8e2595c8e5a7960
>>>>>>> 074ce1bfeec0bb42314ac3a53fd1d2000e30f449
}